USE [master]
GO
/****** Object:  Database [DbOgrenciOtomasyonu]    Script Date: 30.05.2020 10:36:08 ******/
CREATE DATABASE [DbOgrenciOtomasyonu] ON  PRIMARY 
( NAME = N'DbOgrenciOtomasyonu', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DbOgrenciOtomasyonu.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'DbOgrenciOtomasyonu_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL15.MSSQLSERVER\MSSQL\DATA\DbOgrenciOtomasyonu_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [DbOgrenciOtomasyonu].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [DbOgrenciOtomasyonu]
GO
/****** Object:  Table [dbo].[__MigrationHistory]    Script Date: 30.05.2020 10:36:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[__MigrationHistory](
	[MigrationId] [nvarchar](150) NOT NULL,
	[ContextKey] [nvarchar](300) NOT NULL,
	[Model] [varbinary](max) NOT NULL,
	[ProductVersion] [nvarchar](32) NOT NULL,
 CONSTRAINT [PK_dbo.__MigrationHistory] PRIMARY KEY CLUSTERED 
(
	[MigrationId] ASC,
	[ContextKey] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bolumlers]    Script Date: 30.05.2020 10:36:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bolumlers](
	[bolumid] [int] IDENTITY(1,1) NOT NULL,
	[bolumad] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Bolumlers] PRIMARY KEY CLUSTERED 
(
	[bolumid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Kullanicilars]    Script Date: 30.05.2020 10:36:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Kullanicilars](
	[kullaniciadi] [nvarchar](128) NOT NULL,
	[parola] [nvarchar](max) NULL,
	[guvenliksorusu] [nvarchar](max) NULL,
 CONSTRAINT [PK_dbo.Kullanicilars] PRIMARY KEY CLUSTERED 
(
	[kullaniciadi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ogrencilers]    Script Date: 30.05.2020 10:36:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ogrencilers](
	[ogrid] [int] IDENTITY(1,1) NOT NULL,
	[ograd] [nvarchar](max) NULL,
	[ogrsoyad] [nvarchar](max) NULL,
	[Siniflar_sinifid] [int] NULL,
 CONSTRAINT [PK_dbo.Ogrencilers] PRIMARY KEY CLUSTERED 
(
	[ogrid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Siniflars]    Script Date: 30.05.2020 10:36:08 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Siniflars](
	[sinifid] [int] IDENTITY(1,1) NOT NULL,
	[sinifad] [nvarchar](max) NULL,
	[Bolumler_bolumid] [int] NULL,
 CONSTRAINT [PK_dbo.Siniflars] PRIMARY KEY CLUSTERED 
(
	[sinifid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Bolumlers] ON 

INSERT [dbo].[Bolumlers] ([bolumid], [bolumad]) VALUES (1, N'Bilişim Teknolojileri Bölümü')
INSERT [dbo].[Bolumlers] ([bolumid], [bolumad]) VALUES (2, N'İnşaat Bölümü')
INSERT [dbo].[Bolumlers] ([bolumid], [bolumad]) VALUES (3, N'Elektrik & Elektronik Bölümü')
SET IDENTITY_INSERT [dbo].[Bolumlers] OFF
GO
INSERT [dbo].[Kullanicilars] ([kullaniciadi], [parola], [guvenliksorusu]) VALUES (N'123', N'123', N'123')
INSERT [dbo].[Kullanicilars] ([kullaniciadi], [parola], [guvenliksorusu]) VALUES (N'asd', N'asd', N'asd')
INSERT [dbo].[Kullanicilars] ([kullaniciadi], [parola], [guvenliksorusu]) VALUES (N'qwe', N'qwe', N'qwe')
GO
SET IDENTITY_INSERT [dbo].[Ogrencilers] ON 

INSERT [dbo].[Ogrencilers] ([ogrid], [ograd], [ogrsoyad], [Siniflar_sinifid]) VALUES (1, N'Ahmet', N'Aydın', 1)
INSERT [dbo].[Ogrencilers] ([ogrid], [ograd], [ogrsoyad], [Siniflar_sinifid]) VALUES (2, N'Mustafa', N'Doğan', 2)
INSERT [dbo].[Ogrencilers] ([ogrid], [ograd], [ogrsoyad], [Siniflar_sinifid]) VALUES (3, N'Melike', N'Durmuş', 3)
SET IDENTITY_INSERT [dbo].[Ogrencilers] OFF
GO
SET IDENTITY_INSERT [dbo].[Siniflars] ON 

INSERT [dbo].[Siniflars] ([sinifid], [sinifad], [Bolumler_bolumid]) VALUES (1, N'9A', 1)
INSERT [dbo].[Siniflars] ([sinifid], [sinifad], [Bolumler_bolumid]) VALUES (2, N'9B', 1)
INSERT [dbo].[Siniflars] ([sinifid], [sinifad], [Bolumler_bolumid]) VALUES (3, N'10A', 1)
SET IDENTITY_INSERT [dbo].[Siniflars] OFF
GO
/****** Object:  Index [IX_Siniflar_sinifid]    Script Date: 30.05.2020 10:36:08 ******/
CREATE NONCLUSTERED INDEX [IX_Siniflar_sinifid] ON [dbo].[Ogrencilers]
(
	[Siniflar_sinifid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
/****** Object:  Index [IX_Bolumler_bolumid]    Script Date: 30.05.2020 10:36:08 ******/
CREATE NONCLUSTERED INDEX [IX_Bolumler_bolumid] ON [dbo].[Siniflars]
(
	[Bolumler_bolumid] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON) ON [PRIMARY]
GO
ALTER TABLE [dbo].[Ogrencilers]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Ogrencilers_dbo.Siniflars_Siniflar_sinifid] FOREIGN KEY([Siniflar_sinifid])
REFERENCES [dbo].[Siniflars] ([sinifid])
GO
ALTER TABLE [dbo].[Ogrencilers] CHECK CONSTRAINT [FK_dbo.Ogrencilers_dbo.Siniflars_Siniflar_sinifid]
GO
ALTER TABLE [dbo].[Siniflars]  WITH CHECK ADD  CONSTRAINT [FK_dbo.Siniflars_dbo.Bolumlers_Bolumler_bolumid] FOREIGN KEY([Bolumler_bolumid])
REFERENCES [dbo].[Bolumlers] ([bolumid])
GO
ALTER TABLE [dbo].[Siniflars] CHECK CONSTRAINT [FK_dbo.Siniflars_dbo.Bolumlers_Bolumler_bolumid]
GO
USE [master]
GO
